**

!.git*
!README*

!/archetypes/
!/archetypes/*.md

!/assets/
!/assets/**

!/config/

!/config/_default/
!/config/_default/*.toml

!/config/development/
!/config/development/*.toml

!/data/
!/data/**

!/i18n/
!/i18n/*.yaml

!/layouts/
!/layouts/*.html

!/layouts/_partials/
!/layouts/_partials/*.html

!/layouts/_shortcodes/
!/layouts/_shortcodes/*.html

!/static/
!/static/**
